<% extend WorkAssignmentPlugin::Helper %>

<div id="work-assignment-group">
  <div class= "work-assignment-time-information" id="work-assignment-<%= work_assignment_group.status %>">
    <% button_bar do %>
      <%= button(:eyes, _('View work assignment List'), :controller => 'work_assignment_plugin_myprofile', :action => 'work_assignment_list', :type => 'WorkAssignmentPlugin::WorkAssignment', :work_assignment_group => work_assignment_group)%>
    <% end %>
    <%= show_period(work_assignment_group.start_date, work_assignment_group.end_date).capitalize %>
  </div>
  <% unless work_assignment_group.body.blank? %>
    <div><%= work_assignment_group.body %></div>
  <% end %>
</div>
